

<section class ="flat-index">
  <div class="flat-cards">
      <%= simple_form_for :search, url: flats_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search" id="search"></i> Search
        </button>
        <% end %>
      </div>

  <% @flats.each do |flat| %>
    <div class="card-product my-2">
      <%= cl_image_tag flat.photos[0].key, crop: :fill %>
        <div class="card-product-infos">
          <h5><%= link_to "#{flat.name}", flat_path(flat)%></h5>
          <p><%= flat.description %></p>
          <p class="card-product-price">£<%= flat.price %> per night</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map-index" id="map"
     style= "height: 600px; width: 50%;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</section>


