
 <!--Carousel Wrapper-->
<div class="carousel-container mx-auto">
   <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
     <!--Indicators-->
     <ol class="carousel-indicators">
      <% @flat.photos.each do |photo| %>
      <% if photo == @flat.photos[0] %>
         <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
       <% else %>
         <li data-target="#carousel-example-1z" data-slide-to="1"></li>
       <% end %>
       <% end  %>
     </ol>

     <div class="carousel-inner" role="listbox">

       <% @flat.photos.each do |photo| %>
       <% if photo == @flat.photos[0] %>
       <div class="carousel-item active">
        <% else %>
       <div class="carousel-item">
        <% end %>
        <%= cl_image_tag photo.key, crop: :fill, class: "d-block w-100" %>
       </div>
       <% end %>
     </div>


     <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
     <!--/.Controls-->
   </div>

 <!--/.Carousel Wrapper-->

<div class="container mt-4 mx-auto" style="width:100%">
  <div class="row">
    <div class="col-8">
      <div class="card" style="height:90%">
        <div class="card-body">
          <div class="title-box">
            <h5 class="card-title"><%= @flat.name %></h5>
          </div>
          <h6 class="card-subtitle p-0 mb-2 text-muted" style="text-align: left;"><%= @flat.address %></h6>
          <p class="card-text"><%= @flat.description %></p>

        <% if current_user == @flat.user %>
          <%= link_to "Edit Flat", edit_flat_path(@flat), class: "btn btn-outline-secondary btn-sm" %>
        <% else  %>
        <% end %>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Booking</h5>
          <%= simple_form_for([@flat, Booking.new]) do |f| %>
            <%= f.input :start_date, input_html: { id: "startdate" }, as: :string, autocomplete: 'off' %>
            <%= f.input :end_date, input_html: { id: "enddate" }, as: :string, autocomplete: 'off' %>
            <h6 class="card-subtitle mb-2 text-muted">
            $<%= @flat.price %> per night
            </h6>
            <h6> <%= f.submit class: "btn btn-primary mb-2 mx-auto"%> </h6>
          <% end %>
          <p id="charged" class="card-subtitle mb-2 text-muted">(You won't be charged yet)</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="facilities-div">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Facilities </h5>
          <div class="facilities-container">
            <div class="facilities-boxes">
              <% if @flat.pool == true  %>
              <p class="card-text"> Pool <i id="true" class="fas fa-check-circle"></i></p>
              <% else %>
              <p class="card-text"> Pool <i class="fas fa-times-circle"></i> </p>
              <% end %>
              <% if @flat.wifi == true  %>
              <p class="card-text"> Wifi <i id="true" class="fas fa-check-circle"></i></p>
              <% else %>
              <p class="card-text"> Wifi <i class="fas fa-times-circle"></i></p>
              <% end %>
            </div>
            <div class="facilities-boxes">
              <% if @flat.cleaner == true  %>
              <p class="card-text"> Cleaner <i id="true" class="fas fa-check-circle"></i></p>
              <% else %>
              <p class="card-text"> Cleaner <i class="fas fa-times-circle"></i></p>
              <% end %>
              <% if @flat.speakers == true  %>
              <p class="card-text"> Speakers <i id="true" class="fas fa-check-circle"></i></p>
              <% else %>
              <p class="card-text"> Speakers <i class="fas fa-times-circle"></i></p>
              <% end %>
            </div>
            <div class="facilities-boxes">
              <% if @flat.smoking == true  %>
              <p class="card-text"> Smoking <i id="true" class="fas fa-check-circle"></i></p>
              <% else %>
              <p class="card-text"> Smoking <i class="fas fa-times-circle"></i></p>
              <% end %>
              <% if @flat.icemaker == true  %>
              <p class="card-text"> Ice Maker <i id="true" class="fas fa-check-circle"></i></p>
              <% else %>
              <p class="card-text"> Ice Maker <i class="fas fa-times-circle"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="reviews">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
         <% if @flat.reviews.any? %>
           <% star = [] %>
             <% @flat.reviews.each do |review| %>
             <% star << review.rating %>
             <% end %>
               <% if star.size > 0 %>
                 <% final_rating = star.inject{ |sum, el| sum + el }.to_f / star.size %>
               <% else %>
               <% end  %>
             <div><h5 class="card-title"> Reviews
                  <% if final_rating %>
                    <% final_rating.to_i.times do %>
                  <i id="star" class="fas fa-star"></i>
                  <% end %>
                    <% if final_rating % 2 == 0 %>
                      <i></i>
                    <% elsif final_rating % 2 == 1  %>
                      <i></i>
                    <% else %>
                    <i id="star" class="fas fa-star-half"></i>
                    <% end %>
                  <% else %>
                  <% end %>
                </h5>
          <p id="leave-review"> <%= link_to 'Leave a review', flat_path(@flat, anchor: "reviewnew-") %> </p></div>
          <br>
          <% else %>
            <div><h5 class="card-title"> No reviews yet
            <p id="leave-review"> <%= link_to 'Be the first to leave a review', flat_path(@flat, anchor: "reviewnew-") %> </p></div>
          <% end  %>
          <div>
              <% @flat.reviews.each do |review| %>
                <p id="review-<%= review.id %>"> - <%= review.content %></p>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% review.rating.to_i.times do  %>
                 <i id="star" class="fas fa-star"></i>
                <% end %>
                <% if review.user.name  %>
                  <p id="reviewer"><%= review.user.name %><p>
                  <% else %>
                <% end  %>
                <br>
                <br>
              <% end %>
            </div>
          </div>
        </div>
        </div>
          </div>
            </div>
              <div class="row" id="leave-review">
                <div class="col-md-8 mx-left">
                  <div class="card card-body">
                    <h5 class="mb-4" id="reviewnew-"> &nbsp; Leave a review of <%=@flat.name %>!</h5>
                    <div class="container">
                      <%= simple_form_for [ @flat, @review ], remote: true do |f| %>
                      <%= f.input :content, :label => "How was your stay, #{current_user.name}?" %>
                      <%= f.input :rating, collection: (1..5) %>
                      <%= f.submit "Submit review", class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>



