<!DOCTYPE html>
<html>
  <head>
    <title>RailsRentEventFlats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <body>
   <div class="total-navbar">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to root_path do  %>
          <img class="navbar-brand" src="https://image.shutterstock.com/image-vector/house-logo-template-design-vector-260nw-741515455.jpg" />
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if user_signed_in?  %>
            <%= link_to "List a Property", new_flat_path, class: "nav-link" %>
               <% else %>
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bookings">My Bookings</a>
          </li>
          <li class="nav-item dropdown">
            <% if user_signed_in?  %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://i1.sndcdn.com/artworks-000524215752-qk19wd-t500x500.jpg" />
            <% else %>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://lh3.googleusercontent.com/proxy/v4a-aWvCkuOUR4CQ7soGkfdpaAoaxC07HZg6Vu3X77AF0mbC64OYrV2kNbiFGwD56PrPSnHW5OgpEd1yaprR9L_qJBvRMjmuzbauo7XaWpyVfKMLp11QLp3dPThmYCJ9BcEx" />
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        Team Socialite <i class="fas fa-heart"></i>
      </div>
    </div>
  </body>
</html>
